<form action="/search" method="get">
  <div class="row">
    <div class="col-md">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Program search</span>
        </div>
        <input type="search" name="q" class="form-control" aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          value="{{ view.search | default_if_none:"" }}">
      </div>
    </div>
    <div class="col-">
      <input type="submit" value="Search!">
    </div>
  </div>

  <div class="row">
    {% if view.topic %}
    <div class="col-sm">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Topic</span>
        </div>
        <input type="text" name="topic" class="form-control" aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          value="{{ view.topic }}">
      </div>
    </div>
    {% endif %}

    {% if view.age_group %}
    <div class="col-sm">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Age group</span>
        </div>
        <input type="text" name="age" class="form-control" aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          value="{{ view.age_group }}">
      </div>
    </div>
    {% endif %}
  </div>
</form>
