{% load static %}

{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="3TMkIWjjIgTKzru6jxewmSyWe8ggUIWdgPL1tn4gRd0" />

    <title>{% block title %}K-12 Outreach Programs in Boston{% endblock %}</title>

    {% bootstrap_css %}
  </head>

<body role="document">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">K12 Outreach Boston</a>
    <span class="navbar-text">Outreach opportunities in the greater Boston area</span>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if '/' == request.path %}active{% endif %}">
          <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item {% if '/programs' in request.path %}active{% endif %}">
          <a href="{% url 'programs' %}">Programs</a>
        </li>
        <li class="nav-item {% if '/terms' in request.path %}active{% endif %}">
          <a href="{% url 'privacy' %}">Privacy, TOS & Contact info</a>
        </li>
        <li class="nav-item">
          <a href="http://www.sciencefor2020.org/">sciencefor2020 main site</a>
        </li>
      </ul>
    </div>

    <form class="form-inline my-2 my-lg-0" action="/search" method="get">
      <input class="form-control mr-sm-2" type="search" name="q" placeholder="Find a program" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <div class="container container-fluid {% block pgClass %}{% endblock %}">
    <div id="content">{% block content %}{% endblock %}</div>
  </div>

  {# matomo image tracking beacon (no javascript or cookies) #}
  <img src="https://ab.gnmerritt.net/piwik.php?idsite=2&amp;rec=1" style="border:0" alt="" />

  {% bootstrap_javascript jquery='full' %}

  {% block scripts %}{% endblock %}
</body>

</html>
