{% extends 'base.html' %}
{% load email_obfuscator %}

{% block content %}

<h1>Volunteer in programs serving K-12 students in Boston</h1>

<div class="jumbotron">
Welcome! Our mission is to make information about K12 outreach programs in Boston
and the Massachusetts area more accessible to volunteers and parents, alike, by
centralizing the information about these programs into one place. We are a group
of scientists and engineers from the Boston and Cambridge areas who are working
to help outreach programs gain volunteers and support, and to help parents find
affordable activities and educational opportunities for their children. Please
feel free to email {{ 'k12outreachboston@gmail.com' | obfuscate_mailto }} if you
have any questions, comments, suggestions, or concerns, and importantly, if you
notice that we have not included a program or event that you think should be
added to the site!
</div>

<div class="row">
  <div class="col-sm">
    <h2>Find a program</h2>
  </div>
</div>

{% include "fragments/search.html" %}

<div class="row">
  <div class="col-sm">
    <h2>Free programs</h2>
  </div>
  <div class="col-sm">
    <ul>
      {% for t in view.free_programs %}
        <li><a href="{{ t.get_absolute_url }}">{{ t.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <h2>Programs by topic</h2>
  </div>
  <div class="col-sm">
    <ul>
      {% for t in view.topics %}
        <li><a href="{% url 'search' %}?topic={{ t | urlencode }}">{{ t }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <h2>Programs by age group</h2>
  </div>
  <div class="col-sm">
    <ul>
      {% for t in view.age_groups %}
        <li><a href="{% url 'search' %}?age={{ t | urlencode }}">{{ t }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
