{% extends 'base.html' %}
{% load program_extras %}

{% block content %}

{% include "fragments/search.html" %}

<hr>

{% for program in programs %}
  <div class="row">
    <div class="col-sm">
      <div><a href="/program/{{ program.id }}">{{ program.name }}</a></div>
      <div>Run by {{ program.organization.name }}</div>
    </div>

    <div class="col-sm">
      {% card "Topic" program.topic %}
    </div>

    {% if program.cost %}
      <div class="col-sm">
        {% card "Cost" program.cost %}
      </div>
    {% endif %}

    {% if program.date %}
      <div class="col-sm">
        {% card "Date/time" program.date t2=program.time %}
      </div>
    {% endif %}
  </div>

  <hr>
{% endfor %}

{% endblock %}
