{% extends 'base.html' %}
{% load program_extras %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/programs">Programs</a></li>
    {% if view.topic %}
      <li class="breadcrumb-item active">{{ view.topic }}</li>
    {% endif %}
    {% if view.age_group %}
      <li class="breadcrumb-item active">{{ view.age_group }}</li>
    {% endif %}
    {% if view.search %}
      <li class="breadcrumb-item active" aria-current="page">{{ view.search }}</li>
    {% endif %}
  </ol>
</nav>

{% include "fragments/search.html" %}

<hr>

{% for program in programs %}
  <div class="row">
    <div class="col-sm">
      <div><a href="/program/{{ program.id }}">{{ program.name }}</a></div>
      <div>Run by {{ program.organization.name }}</div>
    </div>

    <div class="col-sm">
      {% card "Topic" program.topic %}
    </div>

    {% if program.cost %}
      <div class="col-sm">
        {% card "Cost" program.cost %}
      </div>
    {% endif %}

    {% if program.date %}
      <div class="col-sm">
        {% card "Date/time" program.date t2=program.time %}
      </div>
    {% endif %}
  </div>

  <hr>
{% endfor %}

{% endblock %}
